In [1]:
import pandas as pd

In [3]:
# Load the Excel file
df = pd.read_excel(r"C:\Users\Thusheri\Desktop\IIT\10. Data Science Project Lifecycle\CW 2\dataset.xlsx")

In [4]:
# Preview the data
print("Initial Data Sample:")
print(df.head())

Initial Data Sample:
  End of the Year  Reserve Money (Rs. Million)  \
0             NaN  Currency Issues of the CBSL
1       2003 Jan                         86019
2             Feb                        86977
3             Mar                        91477
4             Apr                        91365

                              Unnamed: 2                         Unnamed: 3  \
0  Government Agencies Deposit with CBSL  Commercial Bank Deposit with CBSL
1                                     18                              37490
2                                     18                              40145
3                                     18                              40283
4                                     16                              37261

  Unnamed: 4 Money Multiplier Unnamed: 6 Unnamed: 7 Velocity of Money (a)  \
0      Total               M1         M2        M2b                    M2
1     123527         1.101249   4.152882   5.095995                   NaN
2     127140         1.084143   4.075743   5.000291                   NaN
3     131778         1.071537   3.981507   4.879896                   NaN
4     128642         1.112895   4.122713   5.041829                   NaN

  Unnamed: 9
0        M2b
1        NaN
2        NaN
3        NaN
4        NaN

In [5]:
# Drop completely empty rows and columns
df.dropna(how='all', inplace=True)
df.dropna(axis=1, how='all', inplace=True)

In [6]:
# Strip whitespace from column names
df.columns = df.columns.str.strip()