In [9]:
import pandas as pd

In [10]:
df1= pd.read_excel(r"C:\Users\Thusheri\Desktop\IIT\10. Data Science Project Lifecycle\CW 2\New Dataset.xlsx")

In [11]:
df1.head()

,End of the Year,Currency Issues of the CBSL,Government Agencies Deposit with CBSL,Commercial Bank Deposit with CBSL,Total,M1,M2,M2b,M2 velocity,M2b velocity
0,2003 Jan,86019.0,18.0,37490.0,123527.0,1.101249,4.152882,5.095995,NaN,NaN
1,Feb,86977.0,18.0,40145.0,127140.0,1.084143,4.075743,5.000291,NaN,NaN
2,Mar,91477.0,18.0,40283.0,131778.0,1.071537,3.981507,4.879896,NaN,NaN
3,Apr,91365.0,16.0,37261.0,128642.0,1.112895,4.122713,5.041829,NaN,NaN
4,May,90524.0,17.0,41880.0,132421.0,1.087471,4.023576,4.918027,NaN,NaN

In [12]:
df1.dtypes

End of the Year                           object
Currency Issues of the CBSL              float64
Government Agencies Deposit with CBSL    float64
Commercial Bank Deposit with CBSL        float64
Total                                    float64
M1                                       float64
M2                                       float64
M2b                                      float64
M2 velocity                               object
M2b velocity                              object
dtype: object

In [13]:
df1.isnull().sum()

End of the Year                            0
Currency Issues of the CBSL                0
Government Agencies Deposit with CBSL      0
Commercial Bank Deposit with CBSL          0
Total                                      0
M1                                         0
M2                                         0
M2b                                        0
M2 velocity                              243
M2b velocity                             243
dtype: int64

In [14]:
df1.duplicated().sum()

0

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   End of the Year                        264 non-null    object
 1   Currency Issues of the CBSL            264 non-null    float64
 2   Government Agencies Deposit with CBSL  264 non-null    float64
 3   Commercial Bank Deposit with CBSL      264 non-null    float64
 4   Total                                  264 non-null    float64
 5   M1                                     264 non-null    float64
 6   M2                                     264 non-null    float64
 7   M2b                                    264 non-null    float64
 8   M2 velocity                            21 non-null     object
 9   M2b velocity                           21 non-null     object
dtypes: float64(7), object(3)
memory usage: 20.8+ KB

In [ ]:
import arrow

arrow.get("2024", "YYYY")

In [20]:
timestamp_str = "1651015200"
timestamp_int = int(timestamp_str)  # Convert str to int
date = arrow.get(timestamp_int)
print(date)

2022-04-26T23:20:00+00:00

In [21]:
df1.head()

,End of the Year,Currency Issues of the CBSL,Government Agencies Deposit with CBSL,Commercial Bank Deposit with CBSL,Total,M1,M2,M2b,M2 velocity,M2b velocity
0,2003 Jan,86019.0,18.0,37490.0,123527.0,1.101249,4.152882,5.095995,NaN,NaN
1,Feb,86977.0,18.0,40145.0,127140.0,1.084143,4.075743,5.000291,NaN,NaN
2,Mar,91477.0,18.0,40283.0,131778.0,1.071537,3.981507,4.879896,NaN,NaN
3,Apr,91365.0,16.0,37261.0,128642.0,1.112895,4.122713,5.041829,NaN,NaN
4,May,90524.0,17.0,41880.0,132421.0,1.087471,4.023576,4.918027,NaN,NaN

In [22]:
df1.dtypes

End of the Year                           object
Currency Issues of the CBSL              float64
Government Agencies Deposit with CBSL    float64
Commercial Bank Deposit with CBSL        float64
Total                                    float64
M1                                       float64
M2                                       float64
M2b                                      float64
M2 velocity                               object
M2b velocity                              object
dtype: object

In [23]:
df1.sort_values('End of the Year',inplace=True)

In [24]:
df1['End of the Year']

0      2003 Jan
12     2004 Jan
24     2005 Jan
36     2006 Jan
48     2007 Jan
         ...
116          Sep
140          Sep
56           Sep
200          Sep
224          Sep
Name: End of the Year, Length: 264, dtype: object

In [29]:
df1.to_csv("Cleaned_dataset.csv")